# Byte-compiled / cache
__pycache__/
*.py[cod]
*.so

# Virtual environments
venv/
.env/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VSCode settings (optional)
.vscode/

# OS-specific
.DS_Store
Thumbs.db


# csv files
*.csv
*.index